* {
margin: 0;
padding: 0;
}



body {
	margin:0;
	font-family: 'Josefin Slab', serif;
	background-color:rgba(41, 123, 72,0.6);
}


header {
	position: static;
	background:rgba(15, 93, 44);
	color:#fff;
	padding: 15px 15px 5px 15px;
	text-align:center;


	
}

header h1{
	margin:5px;
	padding: 5px;
	display:inline;
	
}
nav {
	z-index: 1;
	margin: auto;
	position: absolute;
	float:middle;
	width: 100%;

}

nav ul{
	margin:auto;
	display:inline;
	float:middle;
	font-family: "Josefin Slab";
	font-size:23px;
	
	
	
}

a:link{
	text-decoration:none;
}
a:visited, a:link  {
    color: #fff;
    margin:5px;
    
}

nav ul li{
	list-style-type:none;
	display:inline-block;
	background-color:rgb(15, 93, 44);
	color:white;
	margin: 5px;
	padding: 5px 10px;
	
}
nav ul li a{
	color:white;
}


.contact {
	font-size:30px;
margin:0 auto;
   width: 600px;
   position: relative;

 margin-top:100px;
 


}

.contact  p:first-child{
	margin-top:40px;
}

.contact  p{
	font-size:24px;
	margin:15px 0;
}



}
.contact  p:nth-child(1){
	margin-top:40px;}
footer {
	   position:absolute;
   bottom:0px;
   width:100%;
   height:60px;   /* Height of the footer */
  left: 0px;
   text-align:center;
   color:#fff;
   clear: both;
   z-index: -1;
  
	}

footer p {
	margin-top:5px;
	}

.profile_pic {
	margin-left: auto;
	margin-right: auto;
	display: block;

	height: 300px;
	border-radius:20%;
	margin-bottom: 20px;

}
	
#photo {
	margin:0 auto;
float:right;
  position: relative;
 
   width: 50%;
}

#ikonos   {


	
	text-align:center;
}